[include]
  path = .gitconfig.local
[push]
	default = simple
[core]
	excludesfile = .gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[commit]
	template = .stCommitMsg
	gpgsign = true
[credential]
	helper = osxkeychain
[merge]
	; ff = false
[pull]
	ff = only
[alias]
	a = add
	aa = add .
	bd = branch -d
	br = branch
	bv = branch -vv
	c = commit
	ca = commit -a
	cam = commit -am
	cb = switch -c
	ch = switch
	cl = clone
	cm = commit -m
	d = icdiff
	dev = switch develop
	ds = icdiff --staged
	fp = fetch -p
	h = help
	lf = log --pretty=fuller
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	m = merge
	mas = !git switch $(basename $(git symbolic-ref refs/remotes/origin/HEAD --short))
	md = merge develop
	mf = merge --ff-only
	mm = !git merge $(basename $(git symbolic-ref refs/remotes/origin/HEAD --short))
	mom = !git merge $(git symbolic-ref refs/remotes/origin/HEAD --short)
	n = checkout -b
	nb = checkout -b
	p = push
	pa = push --all
	pf = push --force-with-lease --force-if-includes
	pl = pull
	s = status --short --branch
	sd = "!git d stash@{$1}~ stash@{$1} #"
	sl = stash list
	st = status
	ta = tag -a
	top = rev-parse --show-toplevel
[gpg]
	program = gpg
[init]
	defaultBranch = main
